/* FONT */
@font-face
{
    font-family: "cedge";
    src: url('cedge/cedge1.eot');
    src: url('cedge/cedge1.eot') format('embedded-opentype'),
    url('cedge/cedge1.woff') format('woff'),
    url('cedge/cedge1.ttf') format('truetype'),
    url('cedge/cedge1.svg') format('svg'),
    url('cedge/cedge1.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/* KEYFRAMES */
@-webkit-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0
    }
    to
    {
        background-position: 0 0
    }
}

@-moz-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0
    }
    to
    {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0
    }
    to
    {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0
    }
    to
    {
        background-position: 0 0
    }
}

@-webkit-keyframes plopin
{
    from
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    to
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes plopin
{
    from
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    to
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes plopin
{
    from
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    to
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes plopin
{
    from
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    to
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes plopout
{
    from
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

@-moz-keyframes plopout
{
    from
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

@-o-keyframes plopout
{
    from
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes plopout
{
    from
    {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to
    {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

/* ALL */
*
{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    
    outline: none !important;
    -moz-outline: none !important;
    -moz-user-focus: ignore !important;
}

*::-moz-focus-inner
{
    border: 0
}

body
{
    background-size: cover;
    background: black;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #464646;
}

/* SCROLLBAR */
body::-webkit-scrollbar
{
    width: 8px;
    height: 18px;
}

body::-webkit-scrollbar-thumb
{
    background-color: #FFFFFF;
}

body::-webkit-scrollbar-button
{
    background: #B3B3B3 no-repeat;
    cursor: pointer;
}

body::-webkit-scrollbar-track
{
    background-color: black;
}

/* INPUT RANGE */
.range
{
    -webkit-appearance: none;
    background: black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    margin-top: 15px;
    cursor: pointer;
}

.range::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background: white;
    height: 11px;
    width: 11px;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid white;
}

.range::-moz-range-thumb
{
    -moz-appearance: none;
    background: white;
    height: 11px;
    width: 11px;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid white;
}

.range::-moz-range-track
{
    height: 0;
}

.range-disable
{
    -webkit-appearance: none;
    background: black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    margin-top: 15px;
    cursor: default;
    opacity: 0.3;
}

.range-disable::-webkit-slider-thumb
{
    -webkit-appearance: none;
    cursor: default;
}

.range-disable::-moz-range-thumb
{
    -moz-appearance: none;
    cursor: default;
}

.range-disable::-moz-range-track
{
    height: 0;
}

/* GLOBAL */
input[type=range]::-ms-tooltip
{
    display: none;
}

input[type=number].sub-button::-webkit-inner-spin-button,
input[type=number].sub-button::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].sub-button
{
    background-color: black;
    color: white;
    width: 40px;
    -moz-appearance: textfield;
    height: 34px;
    font-size: 15px;
    text-align: center;
}

span.glyphicon-align-center,
span.glyphicon-align-left
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

button:focus
{
    text-decoration: none;
}

p
{
    margin: 0 0 10px;
    cursor: default;
}

a
{
    text-decoration: none;
    background-color: transparent;
}

.glyphicon
{
    top: 2px;
}

.glyphicon-volume-up,
.glyphicon-volume-down,
.glyphicon-volume-off
{
    left: 3px;
    top: 3px;
}

.glyphicon-volume-up,
.glyphicon-volume-down,
.glyphicon-volume-off,
.glyphicon-pause
{
    left: 1px;
}

a.play-list,
#contain-list > p > .glyphicon,
div.command:last-of-type > p > a,
#droped-zik .glyphicon,
#reset .glyphicon,
input[type="number"].sub-button
{
    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -ms-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}

a.play-list
{
    color: white;
}

hr
{
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EEEEEE;
}

label
{
    display: none;
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.smart-btn
{
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: transparent none;
    border: 1px solid white;
}

.smart-btn:focus,
.smart-btn:active
{
    border: 1px solid white !important;
}

.progress-bar
{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    background-color: black;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress.active .progress-bar
{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-striped, .progress-striped .progress-bar
{
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.command
{
    width: 800px;
    background: black;
    height: 38px;
    margin: auto;
}

.sub-button
{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    display: inline;
}

.label-rgb
{
    margin-top: 13px;
    float: left;
    margin-left: 9px;
    cursor: default;
    color: rgb(100, 100, 100);
}

#play-now
{
    color: white;
    font-weight: bold;
}

#volume
{
    width: 100px;
    margin-top: 15px;
}

#color
{
    width: 150px;
    margin-left: 100px;
    margin-top: 15px;
}

#currentMove
{
    width: 640px;
    z-index: 10;
    position: relative;
    background-color: transparent;
}

#sub-info
{
    width: 80px;
    color: white;
    font-weight: bolder;
    background: black;
    z-index: 20;
}

#current
{
    color: white;
    font-weight: bolder;
    margin-top: 2px;
    margin-left: 5px !important;
}

@-moz-document url-prefix()
{
    #current
    {
        
        margin-top: 4px;
    }
}

.list-music
{
    background: black;
    color: white;
    font-weight: bolder;
    padding: 15px;
    margin-top: 20px;
    height: auto;
}

#analyser > .command
{
    width: 800px;
    height: 300px;
}

#analyser > .command > canvas
{
    width: inherit;
    height: inherit;
}

#loading-bar
{
    width: 300px;
    margin: 30px auto auto;
    font-weight: bold;
    height: 20px;
    overflow: hidden;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    -ms-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}

#processbar
{
    width: 300px
}

#indicator
{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    background-color: black;
}

#indicator.plop
{
    -webkit-animation-name: plopin;
    -moz-animation-name: plopin;
    -o-animation-name: plopin;
    animation-name: plopin;
}

#indicator:not(.plop)
{
    -webkit-animation-name: plopout;
    -moz-animation-name: plopout;
    -o-animation-name: plopout;
    animation-name: plopout;
}

#indicator.animated
{
    -webkit-animation-duration: 100ms;
    -moz-animation-duration: 100ms;
    -o-animation-duration: 100ms;
    animation-duration: 100ms;
    
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#container
{
    opacity: 0;
}

#konami
{
    border-bottom: 1px dotted black;
    cursor: help;
}

.cedge
{
    font-family: "cedge", "Open Sans", sans-serif;
    font-size: 170px;
    line-height: 75px;
}

.cedge .leftCedge,
.cedge .rightCedge
{
    opacity: 0;
    color: black;
    -webkit-transition-duration: 1500ms;
    -moz-transition-duration: 1500ms;
    -ms-transition-duration: 1500ms;
    -o-transition-duration: 1500ms;
    transition-duration: 1500ms;
}

.cedge .leftCedge
{
    color: black;
}

.cedge .rightCedge
{
    color: #1B1B1B;
}

.cedge.open .leftCedge,
.cedge.open .rightCedge
{
    opacity: 1;
}

.cedge .rightCedge
{
    text-shadow: -1px -1px 0 white;
}

#welcome
{
    position: fixed;
    z-index: 90;
}

input[type=number],
input[type=color]
{
    width: 40px;
    height: 34px;
}

input[type=color]
{
    border: 0;
    border-style: hidden;
    padding: 0;
    cursor: pointer;
}

#overlay-welcome
{
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    cursor: none;
    z-index: 90;
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 800ms;
    -moz-transition-duration: 800ms;
    -ms-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
}

#powered
{
    font-size: 0.15em;
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
}

#powered.open,
#overlay-welcome.open
{
    opacity: 1;
}

#input-file
{
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

#droped-zik
{
    cursor: pointer;
}

#droped-zik > span
{
    z-index: -1;
    pointer-events: none;
}

.cedge.color .leftCedge
{
    color: rgb(100, 149, 237);
}