<div id="container" class="text-center" >

    <audio id="music" preload="auto" ></audio >

    <div id="inner-progress-bar" >
        <div id="loading-bar" class="progress progress-striped active" >
            <div id="processbar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
                in progress...
            </div >
        </div >
    </div >

    <div id="analyser" >

        <div class="command" >

            <canvas id="display" width="800" height="300" ></canvas >

            <div id="sub-info" >
                <div id="fps" ></div >

            </div >
        </div >
    </div >

    <div id="buffer-and-seek" class="command" >
        <div id="buffer_1" class="buffer" ></div >
        <label for="currentMove" >timestamp</label >
        <input id="currentMove" class="sub-button range" type="range" min="0" max="5000" value="0" />
        <span id="current" class="sub-button" >...</span >
    </div >

    <div id="toolbar" class="command" >

        <button id="bench" type="button" class="smart-btn sub-button bubble-btn" >
            <span class="glyphicon" ></span >
        </button >

        <button id="play" type="button" class="smart-btn sub-button bubble-btn" >
            <span class="glyphicon glyphicon-play" ></span >
        </button >

        <button id="back" type="button" class="smart-btn sub-button bubble-btn" >
            <span class="glyphicon glyphicon-step-backward" ></span >
        </button >

        <button id="next" type="button" class="smart-btn sub-button bubble-btn" >
            <span class="glyphicon glyphicon-step-forward" ></span >
        </button >

        <div id="btn-repeat" >
            <button id="repeat" data-status="normal" type="button" class="smart-btn sub-button bubble-btn" >
                <span class="glyphicon glyphicon-repeat" ></span >
            </button >
        </div >

        <button id="mute" type="button" class="smart-btn sub-button bubble-btn" >
            <span class="glyphicon glyphicon-volume-down" ></span >
        </button >

        <div id="volume-btn" >
            <input id="volume" title="volume" class="sub-button range" type="range" min="0" max="100" step="1" value="20" />
        </div >

        <span class="label-rgb" >R</span >
        <input id="color-r" title="red color" class="sub-button" type="number" value="100" min="0" max="255" step="1" />
        <span class="label-rgb" >G</span >
        <input id="color-g" title="green color" class="sub-button" type="number" value="149" min="0" max="255" step="1" />
        <span class="label-rgb" >B</span >
        <input id="color-b" title="blue color" class="sub-button" type="number" value="237" min="0" max="255" step="1" />
        <input id="color-picker" class="sub-button" type="color" />

    </div >

    <div class="text-center" >
        <br />
        <p >En ce moment</p >
        <p id="play-now" >En ce moment</p >
        <hr />
        <button id="droped-zik" class="smart-btn bubble-btn" type="button" >
            <span class="glyphicon glyphicon-hand-right" ></span >
            &nbsp;&nbsp;Drop ta playlist !&nbsp;&nbsp;
            <span class="glyphicon glyphicon-hand-left" ></span >
        </button >
        <button id="reset" class="smart-btn bubble-btn" type="button" >
            Remettre à zero&nbsp;&nbsp;
            <span class="glyphicon glyphicon glyphicon-flash" ></span >
        </button >
        <br /><br />
        <p >Format supporté sur Google Chrome et Mozilla Firefox : MP3 / WAV / OGG</p >
    </div >

    <div id="contain-list" class="command list-music text-left" ></div >

    <div class="command" >
        <p >
            Réalisé par <a href="http://lampa-thomas.me" target="_blank" >Thomas Lampa</a > (
            <a href="https://framagit.org/tla/js-music-player" target="_blank" >FramaGit</a > ),
            avec <a href="http://vanilla-js.com/" target="_blank" >VanillaJS</a >.
            <br />-<br />
            Musiques libres de droits téléchargées sur <a href="http://auboutdufil.com" target="_blank" >auboutdufil.com</a >.
            <br /><br />
            <span id="konami" title="Powered by KonamiCode" >?</span >
        </p >
    </div >

    <input id="input-file" type="file" multiple accept="audio/*" />

</div >

<button id="indicator" class="smart-btn" ></button >

<div id="overlay-welcome" >
    <div id="welcome" >
		<span class="cedge" >
			<span id="powered" >POWERED BY</span >
			<br />
			<span class="leftCedge" >Vanilla</span >
			<span class="rightCedge" >JS</span >
		</span >
    </div >
</div >